body{
    background-image: url("tools.png");
    background-size:revert ;
}
h2{
    text-align: center;
    color: blue;
    text-decoration-style: dotted;
    font-size: xx-large;
}
pi {
    color: white;
}
li{
    color: white;
}
a{
    color:blue;
    text-style: solid;
}